<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="buscar.html" />
  <xi:include href="listar_fases2.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script src="js/vanadium-min.js" type="text/javascript"></script>

  <title>Sistema de Administracion de Item</title>
</head>

<body >
  <div id="getting_started">
    <h2>Logueo por Fase</h2>
		<div py:if="defined('lista')">
    		${buscar(lista)}
    	</div>
    	<div py:if="defined('fases')">
    		${listar_fases2(fases,pagina_actual,paginado,total,inicio,fin,param)}
  		</div>  		
<form action="javascript:history.back()" method="POST" margin-left="3px">
  	<input type="hidden" name="_method" value="post"/>
	<input type="submit" value="retornar" />
  </form>
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Estas en el menu de Reporte->Item. 
  </div>
</body>
</html>
