<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script src="js/vanadium-min.js" type="text/javascript"></script>



	<title>Sistema de Administracion de Item</title>
</head>

<body> 

	<div class="submit">
		<div>
			<h2>Editar Tipo de Fase</h2>
		</div>
		  <form action="put_tipo_fase" method="PUT">
			<table summary="">
			<tbody>
				<tr><td>id_tipo_fase </td><td><input readonly="readonly" type="textfield" name="id_tipo_fase" value="${values['id_tipo_fase']}"/>${tmpl_context.form_errors.get('id_tipo_fase')}</td></tr>
			      	<tr><td>nombre_tipo_fase </td><td><input class="required" maxlength="50" type="textfield" name="nombre_tipo_fase" value="${values['nombre_tipo_fase']}"/>${tmpl_context.form_errors.get('nombre_tipo_fase')}</td></tr>	
				<tr><td>descripcion</td><td> <textarea rows="10" cols="40" name="descripcion">${values.get('descripcion')}</textarea>${tmpl_context.form_errors.get('descripcion')}</td></tr>		
     		                <tr><td><input type="hidden" name="_method" value="PUT"/>
					<input type="submit" value="update"/>
				</td></tr>
			
			</tbody>
			</table>
		</form>
		
	</div> 
 
</body>

</html>

