<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script src="js/vanadium-min.js" type="text/javascript"></script>

  <title>Sistema de Administracion de Item</title>
</head>

<body >
  <div id="getting_started">
    <h2>Mantenimiento de Tipos de Fases</h2>
    <p><a href="${tg.url('/tipo_fase/agregar_tipo_fase')}">Agregar Tipo de Fase</a></p>
    <p><a href="${tg.url('/tipo_fase/listar_tipo_fase')}">Listar Tipo de Fase</a></p>
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Estas en el menu de Tipos de Fases. 
  </div>
</body>
</html>
