<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>

	<script src="/js/vanadium-min.js" type="text/javascript"></script>
<script src="/js/jquery-1.6.1.js" type="text/javascript" language="javascript"></script>
<script src="/js/jquery.MultiFile.js" type="text/javascript" language="javascript"></script>

<script language="javascript" type="text/javascript">

function validacion(formulario) {

    var er_nombre = /^([a-z]|[A-Z]|á|é|í|ó|ú|ñ|ü|\s|\.|-[0-9]+)+$/			//letras, '.' y '-' o vacio
    var er_complejidad = /^([0-9]+)+$/

	//comprueba campo de nombre
	if(!er_nombre.test(formulario.nombre_item.value)) { 
		alert('Contenido del campo Nombre del Item no válido.')
		return false
	}   	

	if(!er_complejidad.test(formulario.complejidad.value)) { 
		alert('Contenido del campo complejidad no válido.')
		return false;
	}   	
   	

    if (formulario.id_tipo_item.selectedIndex == -1){ 
        alert("Debe seleccionar un tipo de item"); 
        return false;  
    }
    
  
    alert('Los campos introducidos son CORRECTOS.')
	return true;			
}


</script>


	<title>Sistema de Administracion de Item</title>
</head>

<body> 

	<div class="submit">
		<div>
			<h2>Editar Item</h2>
		</div>
		  <form name="formulario" id="formulario" onsubmit="return validacion(this)" action="put_item" method="PUT" enctype="multipart/form-data" >
			<table summary="">
			<tbody>
             <tr><td><input type="hidden" name="id_item" value="${values['id_item']}"/>${tmpl_context.form_errors.get('id_item')}</td></tr>
            <tr><td>nombre_item </td><td><input class="required" maxlength="50" type="textfield" name="nombre_item" value="${values['nombre_item']}"/>          ${tmpl_context.form_errors.get('nombre_fase')}</td></tr>	
              <tr><td>Tipo de Item</td>
     	     <td>
     	     <select name="id_tipo_item">
		          <py:for each="tipo_item in tipos_items">
                    <div py:choose="">
						    <span py:when="tipo_item.nombre_tipo_item in lista" >
			       				<option value="$tipo_item.id_tipo_item" selected="selected" >$tipo_item.nombre_tipo_item</option>
           					</span>
           					<span py:otherwise="">
						      <option value="$tipo_item.id_tipo_item" >$tipo_item.nombre_tipo_item</option>
	       			        </span>
				    </div>
                  </py:for>
			 </select>
            </td></tr>

				
				<tr><td>complejidad </td><td><input type="textfield" name="complejidad" value="${values['complejidad']}"/>${tmpl_context.form_errors.get('complejidad')}</td></tr>				        	
				         <tr><td>Adjuntos Actuales</td> 
			            <td><py:for each="adj in adjuntos2">
			                <li><input  type="textfield" name="adjuntos" value="$adj.nombre_archivo"/></li>
		                </py:for></td>
           
        </tr>

     		                <tr><td><input type="hidden" name="_method" value="PUT"/>
					<input type="submit" value="Actualizar"/>
				</td></tr>
			
			</tbody>
			</table>
		</form>
		
	</div> 
 
</body>

</html>

