<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
   <link type="text/css" rel="stylesheet" href="css/selectMultiple.css" />
   <script type="text/javascript" src="/js/selectMultiple.js"></script>
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script src="/js/vanadium-min.js" type="text/javascript"></script>
	

  <title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">
    <div>
      <h2>Mis Adjuntos</h2>
    </div>

    <form action="../index" method="POST">
   
      <table summary=""><tbody>
         <tr><td><input class="required" maxlength="50" type="hidden" name="id_item" value="${values['id_item']}"/>${tmpl_context.form_errors.get('id_item')}</td></tr>
        <tr><td>Nombre Item</td><td><input  readonly="readonly" class="required" maxlength="50" type="textfield" name="nombre_item" value="${values['nombre_item']}"/>${tmpl_context.form_errors.get('nombre_item')}</td></tr>
         <tr><td>Tipo Item</td><td><input  readonly="readonly" class="required" maxlength="50" type="textfield" name="nombre_tipo_item" value="${values['nombre_tipo_item']}"/>${tmpl_context.form_errors.get('nombre_tipo_item')}</td></tr>
       
	
        <tr>
          
        <table border="1" cellspacing="1" cellpadding="2" class="adjuntos">    
            <h2>Lista de Adjuntos</h2>
            <tr align="center">
            <th>Accion</th>
            <th>Tipo de item</th>
           
     
        </tr>
          <tr align="center" py:for="adjunto in adjuntos">
                <td><a href="${tg.url('/item/descargar?id_adjunto=%d' % adjunto.id_adjunto)}">descargar adjuntos</a></td>
                <td>${adjunto.nombre_archivo}</td>
          </tr>          
          </table>

        </tr>
        
	  <tr><td><input type="hidden" name="_method" value="post"/>
	  <input type="submit" value="retornar"/>
        </td></tr>
      </tbody></table>
    </form>

    <div id="footer">
       </div>
  </body>
</html>

