<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">
    <div>
      <h2>Editar nueva Fase</h2>
    </div>

    <form action="/editar_fase" method="post">
      <table summary=""><tbody><tr>
        <th><label for="nombre_fase">Nombre de la Fase:</label></th>
        <td>
           <input type="text" id="nombre_fase" name="nombre_fase" />
           <span py:if="'nombre_fase' in errors" class="fielderror">${errors.nombre_fase}</span>   
        </td>
	</tr><tr>
	<th><label for="tipo_fase">Tipo de la Fase:</label></th>
        <td>
           <input type="text" id="tipo_fase" name="tipo_fase" />
           <span py:if="'tipo_fase' in errors" class="fielderror">${errors.tipo_fase}</span>   
        </td>
      </tr><tr>
        <th><label for="estado">Estado:</label></th>
        <td>
           <input type="text" id="estado" name="estado" />
           <span py:if="'estado' in errors" class="fielderror">${errors.estado}</span>
        </td>
      </tr><tr>
        <th><label for="linea_base">Linea Base:</label></th>
        <td><input type="text" name="linea_base" /></td>
      </tr><tr>
        <th><label for="descripcion">Descripcion:</label></th>
        <td>
           <input type="text" id="descripcion" name="descripcion" />
           <span py:if="'descripcion' in errors" class="fielderror">${errors.descripcion}</span>
        </td>
      </tr><tr>
        <td></td>
        <td>
          <input type="submit" value="Guardar" />
          <input type="submit" name="cancel" value="Cancelar" />
        </td>
      </tr></tbody></table>
    </form>

    <div id="footer">
    <p py:replace="data"></p>  
    </div>
  </body>
</html>

