<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">
    <div>
      <h2>Agregar nuevo Rol</h2>
    </div>

    <form action="put_rol" method="POST">
   
      <table summary=""><tbody>
         <tr><td>Nombre </td><td><input type="textfield" name="nombrerol" value="${values.get('nombrerol', '')}"/>${tmpl_context.form_errors.get('nombrerol')}</td></tr>
  	 <tr><td>Descripcion</td><td> <textarea name="descripcion">${values.get('descripcion')}</textarea>${tmpl_context.form_errors.get('descripcion')}</td></tr><tr>
	
        <tr><td>Privilegios</td> 
        <td>
          <select multiple="true" name="privilegios">
   	       <py:for each="privilegio in privilegios">
                   <option value="$privilegio.idprivilegio" selected="selected">$privilegio.nombreprivilegio</option>
	       </py:for>
          </select>
        </td></tr>
        <td>
	  <input type="submit" value="Guardar" />
          <input type="submit" name="cancel" value="Cancelar" />
        </td>
      </tr></tbody></table>
    </form>

    <div id="footer">
       </div>
  </body>
</html>

