<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script src="js/vanadium-min.js" type="text/javascript"></script>


<script type="text/javascript">
	var nextinput = 0;
	function AgregarCampos(){
		nextinput++;
		campo = '<li id="rut'+nextinput+'">Campo:<input type="text" size="20" id="campo"  name="campo"  /></li>';
		$("#campos").append(campo);
	}
</script>

<title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">


    <div>
      <h2>Agregar nuevo Tipo de Item</h2>
    </div>

    <form action="post_tipo_item" method="POST">
      <table summary=""><tbody><tr>
	<tr><td>Nombre del Tipo Item </td><td><input class="required" maxlength="50" type="textfield" name="nombre_tipo_item" value="${values.get('nombre_tipo_item', '')}"/>${tmpl_context.form_errors.get('nombre_tipo_item')}</td></tr>
	
        <tr><td>descripcion</td><td> <textarea rows="10" cols="40" name="descripcion">${values.get('descripcion')}</textarea>${tmpl_context.form_errors.get('descripcion')}</td></tr>
	<tr><td><a href="#" onclick="AgregarCampos();">Agregar Campos</a></td>
        <td><div id="campos">    </div>	</td></tr>
	 
	
	<td></td>
        <td>
          <input type="submit" value="Guardar" />
          <input type="submit" name="cancel" value="Cancelar" />
        </td>
      </tr></tbody></table>
    </form>

    
  </body>
</html>

