<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">
    <div>
      <h2>Agregar nuevo Campo</h2>
    </div>
<form action="/agregar_tipo_campos" method="post">
      <table summary=""><tbody><tr>
        <th><label for="nombre_tipo_campos">Nombre del Campo:</label></th>
        <td>
           <input type="text" id="nombre_campo" name="nombre_campo" />
           <span py:if="'nombre_campo' in errors" class="fielderror">${errors.nombre_campo}</span>   
        </td>
	</tr><tr>
	<th><label for="valor_tipo_campos">valor del Campo:</label></th>
        <td>
           <input type="text" id="valor_campo" name="valor_campo" />
           <span py:if="'valor_campo' in errors" class="fielderror">${errors.valor_campo}</span>   
        </td>
      </tr><tr>

        <td></td>
        <td>
          <input type="submit" value="Guardar" />
          <input type="submit" name="cancel" value="Cancelar" />
        </td>
      </tr></tbody></table>
    </form>

   
  </body>
</html>

