<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">
    <div>
      <h2>Agregar nuevo Item</h2>
    </div>

    <form action="/agregar_item" method="post">
      <table summary=""><tbody><tr>
        <th><label for="nombre_item">Nombre Item:</label></th>
        <td>
           <input type="text" id="nombre_item" name="nombre_item" />
           <span py:if="'nombre_item' in errors" class="fielderror">${errors.nombre_item}</span>   
        </td>
      </tr><tr>
        <th><label for="nombre">Tipo de Item:</label></th>
        <td>
           <input type="text" id="tipo_item" name="tipo_item" />
           <span py:if="'tipo_item' in errors" class="fielderror">${errors.tipo_item}</span>
        </td>
      </tr><tr>
        <th><label for="fase">Fase:</label></th>
        <td><input type="text" id="fase" name="fase" /></td>
      </tr><tr>
           
        <th><label for="proyecto">Proyecto:</label></th>
        <td><input type="text" name="proyecto" /></td>
      </tr><tr>
        <th><label for="adjunto">Adjunto:</label></th>
        <td><input type="text" name="adjunto" /></td>
      </tr><tr>
        <th><label for="complejidad">complejidad:</label></th>
        <td>
            <input type="text" name="complejidad" />
        </td>
      </tr><tr>
        <th><label for="estado">Estado:</label></th>
        <td>
           <input type="text" name="estado" />
        </td>
      </tr><tr>
        <th><label for="text">campos:</label></th>
        <td>
          <input type="text" name="campos" />
         </td>
      </tr><tr> 
	<th><label for="text">Lista Item Relacionados:</label></th>
        <td>
          <input type="text" name="lista_item" />
         </td>
      </tr><tr>
	<th><label for="text">Creado por:</label></th>
        <td>
          <input type="text" name="creado_por" />
         </td>
      </tr><tr>  
	<th><label for="text">Fecha de Creacion:</label></th>
        <td>
          <input type="text" name="fecha_creacion" />
         </td>
      </tr><tr> 
        <td></td>
        <td>
          <input type="submit" value="Guardar" />
          <input type="submit" name="cancel" value="Cancelar" />
        </td>
      </tr></tbody></table>
    </form>

    <div id="footer">
    <p py:replace="data"></p>  
    </div>
  </body>
</html>

