<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script src="js/vanadium-min.js" type="text/javascript"></script>



	<title>Sistema de Administracion de Item</title>
</head>

<body> 

	<div class="submit">
		<div>
			<h2>Editar Fase</h2>
		</div>
		  <form action="put_fase" method="PUT">
			<table summary="">
			<tbody>
				<tr><td>id_fase </td><td><input readonly="readonly" type="textfield" name="id_fase" value="${values['id_fase']}"/>${tmpl_context.form_errors.get('id_fase')}</td></tr>
			      	<tr><td>nombre_fase </td><td><input class="required" maxlength="50" type="textfield" name="nombre_fase" value="${values['nombre_fase']}"/>${tmpl_context.form_errors.get('nombre_fase')}</td></tr>	
				<tr><td>Tipo de Fase</td>
					<td>
					  <select name="id_tipo_fase">
					      <py:for each="tipo_fase in tipos_fases">
						  <option value="$tipo_fase.id_tipo_fase" >$tipo_fase.nombre_tipo_fase</option>
					      </py:for>
					  </select>
					</td></tr>

				 <tr><td>Estado</td>
				     <td>
				     <select name="estado">
					       <option value="Nueva" selected="selected">Nueva</option>
					       <option value="Activa" >Activa</option>
					       <option value="Finalizada" >Finalizada</option>
				     </select>
				</td></tr>
				
				<tr><td>linea_base </td><td><input class="required" maxlength="50" type="textfield" name="linea_base" value="${values['linea_base']}"/>${tmpl_context.form_errors.get('linea_base')}</td></tr>				        	
				<tr><td>descripcion</td><td> <textarea rows="10" cols="40" name="descripcion">${values.get('descripcion')}</textarea>${tmpl_context.form_errors.get('descripcion')}</td></tr>		
     		                <tr><td><input type="hidden" name="_method" value="PUT"/>
					<input type="submit" value="update"/>
				</td></tr>
			
			</tbody>
			</table>
		</form>
		
	</div> 
 
</body>

</html>

