<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">
<div id="footer">
  <hr /> 
  <div class="flogo">
        <p>
        	
        	<a href="javascript:history.back()"><img src="/images/atras.png" border="0" /></a>
  			<a href="http://localhost:8080/"><img src="/images/inicio.png" border="0" /></a>
  			<a href="javascript:history.forward()"><img src="/images/adelante.png" border="0" /></a>
        </p>
  </div>
  <div class="foottext">
    <p>Sistema de administracion de items de proyecto</p>
  </div>
  <div class="clearingdiv"></div>
</div>
</py:def>    
</html>
