<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>

<body>
  <div id="mainmenu">
    <li class="first"><a href="${tg.url('/listar_tipo_item')}" class="${('', 'active')[defined('pagina') and pagina==pagina=='listar_tipo_item']}">Tipo de Item</a></li>
  </div>  
  <div py:choose="len(tipos_items)" py:strip="True" id="tipos_item">
    <table class="tipos_items" py:when="0">
      <tr><th>No hay Tipos de items registradas..</th></tr>
    </table>
    <table border="1" cellspacing="1" cellpadding="5" class="tipos_items" py:otherwise="">    
      <h2>Lista de Tipos de Item</h2>
      <tr align="center">
        <th>Id</th>
        <th>Nombre del Tipo Item</th>
        <th>Descripcion</th>
      </tr>
      <tr align="center" py:for="tipo_item in tipos_items">
        <td><a href="${tg.url('/tipo_item/%s/edit' % tipo_item.id_tipo_item)}">${tipo_item.id_tipo_item}</a></td>
        <td><a href="${tg.url('/')}">${tipo_item.nombre_tipo_item}</a></td>
        <td>${tipo_item.descripcion}</td>
      </tr>          
    </table>   
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Lista los Tipos de Fases registradas en el sistema.
    
  </div>
</body>
</html>
