<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>

<body>
  <div id="mainmenu">
    <li class="first"><a href="${tg.url('/listar_privilegio')}" class="${('', 'active')[defined('pagina') and pagina==pagina=='listar_privilegio']}">Privilegio</a></li>
  </div>  
  <div py:choose="len(privilegios)" py:strip="True" id="privilegio">
    <table class="privilegios" py:when="0">
      <tr><th>No hay privilegios registrados..</th></tr>
    </table>
    <table border="1" cellspacing="1" cellpadding="5" class="privilegios" py:otherwise="">    
      <h2>Lista de Privilegios</h2>
      <tr align="center">
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
       </tr>
      <tr align="center" py:for="privilegio in privilegios">
        <td><a href="${tg.url('/privilegio/%s/edit' % privilegio.idprivilegio)}">${privilegio.idprivilegio}</a></td>
        <td><a href="${tg.url('/')}">${privilegio.nombreprivilegio}</a></td>
        <td>${privilegio.descripcion}</td>
      </tr>          
    </table>   
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Lista los privilegios registrados en el sistema.
    
  </div>
</body>
</html>
