<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>

<body>
  <div id="mainmenu">
    <li class="first"><a href="${tg.url('/listar_fase')}" class="${('', 'active')[defined('pagina') and pagina==pagina=='listar_fase']}">Fase</a></li>
  </div>  
  <div py:choose="len(fases)" py:strip="True" id="fase">
    <table class="fases" py:when="0">
      <tr><th>No hay Fases registradas..</th></tr>
    </table>
    <table border="1" cellspacing="1" cellpadding="5" class="fases" py:otherwise="">    
      <h2>Lista de Fases</h2>
      <tr align="center">
        <th>Id</th>
        <th>Nombre de la Fase</th>
	<th>Tipo de Fase</th>
        <th>Estado</th>
        <th>Linea Base</th>
        <th>Descripcion</th>
      </tr>
      <tr align="center" py:for="fase in fases">
        <td><a href="${tg.url('/fase/%s/edit' % fase.id_fase)}">${fase.id_fase}</a></td>
        <td><a href="${tg.url('/')}">${fase.nombre_fase}</a></td>
        <td>${fase.tipo_fase}</td>
        <td>${fase.estado}</td>
        <td>${fase.linea_base}</td>
        <td>${fase.descripcion}</td>
      </tr>          
    </table>   
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Lista las fases registradas en el sistema.
    
  </div>
</body>
</html>
