<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>

<body>
  <div id="mainmenu">
    <li class="first"><a href="${tg.url('/listar_proyecto')}" class="${('', 'active')[defined('pagina') and pagina==pagina=='listar_proyecto']}">Proyecto</a></li>
  </div>  
  <div py:choose="len(proyectos)" py:strip="True" id="proyecto">
    <table class="proyectos" py:when="0">
      <tr><th>No hay proyectos registrados..</th></tr>
    </table>
    <table border="1" cellspacing="1" cellpadding="5" class="proyectos" py:otherwise="">    
      <h2>Lista de proyectos</h2>
      <tr align="center">
        <th>Accion</th>
        <th>Id</th>
        <th>nombre_proyecto</th>
        <th>equipo</th>
        <th>lista_Fases</th>
        <th>Descripcion</th>
       </tr>
      <tr align="center" py:for="proyecto in proyectos">
	<td><a href="${tg.url('editar_proyecto?id_proyecto=%d' % proyecto.id_proyecto)}">Editar</a>
	<a href="${tg.url('eliminar_proyecto?id_proyecto=%d' % proyecto.id_proyecto)}">Borrar</a></td>
        <td>${proyecto.id_proyecto}</td>
        <td>${proyecto.nombre_proyecto}</td>
        <td>${proyecto.equipo}</td>
	<td>${proyecto.lista_Fases}</td>
	<td>${proyecto.descripcion}</td>
      </tr>          
    </table>   
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Lista los proyecto registrados en el sistema.
    
  </div>
</body>
</html>
