<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
</head>
<body>
<div style="height:0px;">&nbsp;</div>
<h2>Recuperar Confirmation</h2>
<div class="submit">

<form action="post_recuperar_item" method="RECUPERAR">
	Are you sure you want to delete this record?
	<table>
	 <tr><td>id_item </td><td><input type="textfield" name="id_item" value="${values['id_item']}"/>${tmpl_context.form_errors.get('id_item')}</td></tr>
			      	<tr><td>nombre_item </td><td><input type="textfield" name="nombre_item" value="${values['nombre_item']}"/>${tmpl_context.form_errors.get('nombre_item')}</td></tr>	
				<tr><td>nombre_tipo_item </td><td><input type="textfield" name="nombre_tipo_item" value="${values['nombre_tipo_item']}"/>${tmpl_context.form_errors.get('nombre_tipo_item')}</td></tr>
				<tr><td>estado </td><td><input type="textfield" name="estado" value="${values['estado']}"/>${tmpl_context.form_errors.get('estado')}</td></tr>		
				<tr><td>complejidad </td><td><input type="textfield" name="complejidad" value="${values['complejidad']}"/>${tmpl_context.form_errors.get('linea_base')}</td></tr>				        	
				<tr><td>adjunto</td><td> <textarea name="adjunto">${values.get('adjunto')}</textarea>${tmpl_context.form_errors.get('adjunto')}</td></tr>		
				
     		               
	</table>
	
	  <input type="hidden" name='_method' value='POST_RECUPERAR'/>
	  <input type="submit" value="Yes, Recuperar"/>
	

</form>
</div>
</body>
</html>
