<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <script type="text/javascript" src="/js/jquery-1.6.1.js"></script>


<script type="text/javascript">
emails=0;
function agregar() {
	emails=emails+1;
	$("#campos").append('<li class="campo'+emails+'"><input type="text" name="campo" size="25" />&nbsp;&nbsp;<a href="#" onclick="javascript:borrar('+emails+');">Borrar</a></li>');
}
function borrar(cual) {
	$("li.campo"+cual).remove();
	return false;
}
</script>


<title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">

    <div>
      <h2>Agregar nuevo Tipo de Item</h2>
    </div>

    <form action="post_tipo_item" method="POST">
      <table summary=""><tbody><tr>
	    <tr><td>Nombre del Tipo Item </td><td><input class="required" maxlength="50" type="textfield" name="nombre_tipo_item" value="${values.get('nombre_tipo_item', '')}"/>${tmpl_context.form_errors.get('nombre_tipo_item')}</td></tr>
        <tr><td>Codigo del Tipo Item </td><td><input class="required" maxlength="50" type="textfield" name="codigo_tipo_item" value="${values.get('codigo_tipo_item', '')}"/>${tmpl_context.form_errors.get('codigo_tipo_item')}</td></tr>
	
        <tr><td>descripcion</td><td> <textarea rows="10" cols="40" name="descripcion">${values.get('descripcion')}</textarea>${tmpl_context.form_errors.get('descripcion')}</td></tr>
        <tr><td>Campos</td>
            <td><div id="campo">
        	<div id="campos"> 
			    <li><input type="text" name="campo" size="25" />&nbsp;&nbsp;<a href="javascript:agregar();">Agregar</a></li> 
		    </div></div>
            </td></tr>
	<td></td>
        <td>
          <input type="submit" value="Guardar" />
        </td>
      </tr></tbody></table>
    </form>

    
  </body>
</html>

