<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	<title>Sistema de Administracion de Item</title>
</head>

<body> 

	<div class="submit">
		<div>
			<h2>Clonar Tipo de Item</h2>
		</div>
		  <form action="put_item" method="PUT">
			<table summary="">
			<tbody>
    	            <tr><td><input type="hidden" name="id_tipo_item" value="${values['id_tipo_item']}"/>${tmpl_context.form_errors.get('id_tipo_item')}</td></tr>
			      	<tr><td>nombre_tipo_item </td><td><input class="required" maxlength="50" type="textfield" name="nombre_tipo_item" />${tmpl_context.form_errors.get('nombre_tipo_item')}</td></tr>	
				<tr><td>descripcion</td><td> <textarea rows="10" cols="40" name="descripcion">${values.get('descripcion')}</textarea>${tmpl_context.form_errors.get('descripcion')}</td></tr>		

	                <tr><td><input type="hidden" name="_method" value="PUT"/>
					<input type="submit" value="Clonar"/>
				</td></tr>
			
			</tbody>
			</table>
		</form>
		
	</div> 
 
</body>

</html>

