<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script src="js/vanadium-min.js" type="text/javascript"></script>

  <title>Sistema de Administracion de Item</title>
</head>

<body>
  <div id="mainmenu">
    <xi:include href="buscar.html" />
  </div>
  <div py:for="perm in request.identity['user'].privilegios">
	    	<div py:choose="">
	     		<span py:when="perm.var == 'control_total' or perm.var == 'alta_tipo_item'">
    				<p><a href="${tg.url('/tipo_item/agregar_tipo_item')}">Agregar Tipo Item</a></p>
    			</span>
    		</div>
    </div>    
  
  <div py:choose="len(tipos_items)" py:strip="True" id="tipos_item">
    <table class="tipos_items" py:when="0">
      <tr><th>No hay Tipos de Item registrados..</th></tr>
    </table>
    <table border="1" cellspacing="1" cellpadding="5" class="tipos_fases" py:otherwise="">    
      <h2>Lista de Tipos de Item</h2>
      <tr align="center">
    	<th>Accion</th>
        <th>Nombre del Tipo Item</th>
        <th>Codigo del Tipo Item</th>
        <th>Descripcion</th>
        <th>Campos</th>
      </tr>
      <tr align="center" py:for="tipo_item in tipos_items">
	    <td>
	     <div py:for="perm in request.identity['user'].privilegios">
	    	<div py:choose="">
	     		<span py:when="perm.var == 'control_total'">
	    			<a href="${tg.url('/tipo_item/editar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}"><img src="/images/lapiz.png" border="0" height="15"/></a>
	    			<a href="${tg.url('/tipo_item/clonar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}"><img src="/images/clonar.png" border="0" height="15"/></a>
	    			<a href="${tg.url('/tipo_item/eliminar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}"><img src="/images/cross.png" border="0"/></a>
	    		</span>
	    		<span py:when="perm.var == 'mod_tipo_item'">
	    			<a href="${tg.url('/tipo_item/editar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}"><img src="/images/lapiz.png" border="0" height="15"/></a>
	    		</span>
	    		<span py:when="perm.var == 'clonar_tipo_item'">
	    			<a href="${tg.url('/tipo_item/clonar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}"><img src="/images/clonar.png" border="0" height="15"/></a>
	    		</span>	
	    		<span py:when="perm.var == 'elim_tipo_item'">
	    			<a href="${tg.url('/tipo_item/eliminar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}"><img src="/images/cross.png" border="0"/></a>
	    		</span>
	    	</div>
	     </div>			
	    </td>
        <td>${tipo_item.nombre_tipo_item}</td>
        <td>${tipo_item.codigo_tipo_item}</td> 
        <td>${tipo_item.descripcion}</td>
        <td><a href="${tg.url('/tipo_item/ver_campos?id_tipo_item=%d' % tipo_item.id_tipo_item)}">ver campos</a></td>

      </tr>          
     <tr py:if="total/paginado > 0">
        <td><b>Pagina</b></td><td align="center"><b>${pagina_actual}/${total/paginado}</b></td>
      	<td align="center">
      		<span py:if="inicio > 0">
      			<a href="/tipo_item/tipo_item?start=${0}%26end=${paginado}">Inicio</a> | 
      			<a href="/tipo_item/tipo_item?start=${inicio-paginado}%26end=${fin-paginado}">Atras</a> 
      		</span>
      		<span py:if="total+1 > fin">
      			| <a href="/tipo_item/tipo_item?start=${inicio + paginado}%26end=${fin + paginado}" >Siguiente</a> |
      			<a href="/tipo_item/tipo_item?start=${total - paginado}%26end=${total}" py:if="total-paginado > paginado">Fin</a>
      		</span>
      	</td>
      	
      </tr>   
    </table>   
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Lista los Tipos de Items registradas en el sistema.
    
  </div>
</body>
</html>
