<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script src="js/vanadium-min.js" type="text/javascript"></script>

  <title>Sistema de Administracion de Item</title>
</head>

<body>
  <div id="mainmenu">
    <li class="first"><a href="${tg.url('/listar_tipo_item')}" class="${('', 'active')[defined('pagina') and pagina==pagina=='listar_tipo_item']}">Tipo de Item</a></li>
  </div>  
  <div py:choose="len(tipos_items)" py:strip="True" id="tipos_item">
    <table class="tipos_items" py:when="0">
      <tr><th>No hay Tipos de Item registrados..</th></tr>
    </table>
    <table border="1" cellspacing="1" cellpadding="5" class="tipos_fases" py:otherwise="">    
      <h2>Lista de Tipos de Item</h2>
      <tr align="center">
	<th>Accion</th>
        <th>Id</th>
        <th>Nombre del Tipo Item</th>
        <th>Descripcion</th>
        <th>Campos</th>
      </tr>
      <tr align="center" py:for="tipo_item in tipos_items">
	<td><a href="${tg.url('editar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}">Editar</a>
	<a href="${tg.url('clonar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}">Clonar</a>
	<a href="${tg.url('eliminar_tipo_item?id_tipo_item=%d' % tipo_item.id_tipo_item)}">Borrar</a></td>
        <td>${tipo_item.id_tipo_item}</td>
        <td>${tipo_item.nombre_tipo_item}</td>
        <td>${tipo_item.descripcion}</td>
        <td>${tipo_item.get_campos(tipo_item.id_tipo_item)}</td>
      </tr>          
    </table>   
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Lista los Tipos de Items registradas en el sistema.
    
  </div>
</body>
</html>
