<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
   <link type="text/css" rel="stylesheet" href="css/selectMultiple.css" />
	<script src="/js/vanadium-min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.js"></script>
	<script type="text/javascript" src="/js/jquery.asmselect.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/jquery.asmselect.css" />
	<link rel="stylesheet" type="text/css" href="/css/example.css" />

	<script type="text/javascript">

		$(document).ready(function() {
			$("#privilegios").asmSelect({
				addItemTarget: 'bottom',
				animate: true,
				highlight: true,
				sortable: true
			});
			
		}); 

	</script>

<script language="javascript" type="text/javascript">	
function validacion(formulario) {

	var er_nombre = /^([a-z]|[A-Z]|á|é|í|ó|ú|ñ|ü|\s|\.|-[0-9]*)+$/			//letras, '.' y '-' o vacio

	//comprueba campo de nombre
	if(!er_nombre.test(formulario.nombrerol.value)) { 
		alert('Contenido del campo nombre de rol no válido.')
		return false;
	}   	
   	
	//comprueba campo de nombre
	if (formulario.descripcion.value.length == 0 ) { 
		alert('Contenido del campo descripcion no válido.')
		return false;
	}  
 
   
    if (formulario.privilegios.selectedIndex==-1){
        alert("Debes seleccionar al menos 1 privilegio");
        return false;
    }
	
    alert('Los campos introducidos son CORRECTOS.')
	return true;			
}

</script>

  <title>Sistema de Administracion de Item</title>
</head>
  <body class="submit">
    <div>
      <h2>Editar Rol</h2>
    </div>

    <form name="formulario" id="formulario" onsubmit="return validacion(this)" action="put_rol" method="PUT">
   
      <table summary=""><tbody>
         <tr><td><input class="required" maxlength="50" type="hidden" name="idrol" value="${values['idrol']}"/>${tmpl_context.form_errors.get('idrol')}</td></tr>

         <tr><td>Nombre</td><td><input  class="required" maxlength="50" type="textfield" name="nombrerol" value="${values['nombrerol']}"/>${tmpl_context.form_errors.get('nombrerol')}</td></tr>
  	 <tr><td>Descripcion</td><td> <textarea rows="10" cols="40" name="descripcion">"${values['descripcion']}"</textarea>${tmpl_context.form_errors.get('descripcion')}</td></tr>
	
        <tr><td>Privilegios</td>
        <td>
          <select multiple="multiple" name="privilegios" id="privilegios" title="Seleccionar los Privilegios Necesarios">
   	       <py:for each="privilegio in privilegios">
				<div py:choose="">
					<span py:when="privilegio.idprivilegio in privilegios2" >
            	           			<option value="$privilegio.idprivilegio" selected="selected">$privilegio.nombreprivilegio</option>
			       			</span>
			       			<span py:otherwise="">
					        	 <option value="$privilegio.idprivilegio">$privilegio.nombreprivilegio</option>
				           </span>
					</div>
           </py:for>
          </select>
        </td></tr>
        
	  <tr><td><input type="hidden" name="_method" value="PUT"/>
	  <input type="submit" value="Actualizar"/>
        </td></tr>
      </tbody></table>
    </form>

    <div id="footer">
       </div>
  </body>
</html>

